.mt-form{margin-top: 25px;}
.mt-modal{margin-top: 100px;}
.ml-msg{margin-left: 25px;}
.category-card {
  margin-left: 5px;
  margin-right: 5px;
  width: 15rem;
  height: 7rem;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border: 1px solid #cecece;
  border-radius: 10px;
  color: #5e5b5b;
  text-align: center;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.category-card:hover .front {transform: rotateY(180deg);}
.category-card:hover .back {transform: rotateY(360deg);}
.check{
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
}
#id_is_published {
  display: none;
}
#id_is_published + label {
  font-size: 3.2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s all;
  cursor: pointer;
  z-index: 999 !important;
}
#id_is_published + label:after {
  content: "😕";
}
#id_is_published:checked + label:after {
  content: "😎";
}
