.mt-form{margin-top: 25px;}
.mt-modal{margin-top: 100px;}
.ml-msg{margin-left: 25px;}
.category-card {
  margin-top: 3rem;
  margin-left: 5px;
  margin-right: 5px;
  width: 15rem;
  height: 7rem;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border: 1px solid #cecece;
  border-radius: 10px;
  color: #5e5b5b;
  text-align: center;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.category-card:hover .front {transform: rotateY(180deg);}
.category-card:hover .back {transform: rotateY(360deg);}
.check{
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
}
#id_is_published {
  display: none;
}
#id_is_published + label {
  font-size: 3.2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s all;
  cursor: pointer;
  z-index: 999 !important;
}
#id_is_published + label:after {
  content: "😕";
}
#id_is_published:checked + label:after {
  content: "😎";
}
.is-title{background-color: #00d1b2;}
.titul-img {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.titul-img + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.titul-img + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.titul-img + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.titul-img:checked + label:before {
  background: #9FD468;
}
.titul-img:checked + label:after {
  left: 26px;
}
.titul-img:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}