.mt-form{margin-top: 25px;}
.mt-modal{margin-top: 100px;}
.category-card {
  margin-left: 5px;
  margin-right: 5px;
  width: 15rem;
  height: 7rem;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border: 1px solid #cecece;
  border-radius: 10px;
  color: #5e5b5b;
  text-align: center;
}
.front {
  background-color: #fff;
}
.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}
.category-card:hover .front {transform: rotateY(180deg);}
.category-card:hover .back {transform: rotateY(360deg);}
.gallery{
    width: 400px;
    text-align: center;
    margin: 0 auto; 
}
.photo{
    position: relative;
    height: 300px;
}
.photo img{
    width: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 1s;
}
.photo img.shown{
     opacity: 1;
}
.tabs{
    text-align: center;
    padding-top: 20px;
}