{% extends "layer/base.html" %}
{% block context %}
    <h1 class="title has-text-centered">Типа ЛК</h1>
    <p class="subtitle has-text-centered">
        <strong>Твои данные, бро!</strong>
        <br>
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </p>
    <div class="columns is-centered">
        <div class="column is-half has-text-centered form-auth">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{user.get_avatar}}" alt="Avatar">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel">
                        <div class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-user-secret " aria-hidden="true"></i>
                            </span>
                            {{user.email}}
                        </div>
                        <div class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-child" aria-hidden="true"></i>
                            </span>
                            {{user.get_name}}
                        </div>
                        <div class="panel-block">
                            <span class="panel-icon">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            {{user.get_birthday}}
                        </div>
                         <div class="panel-block">
                            <span class="panel-icon">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            Ты с нами с {{user.date_joined}}
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{% url 'accounts:edit' %}" class="card-footer-item">Править данные</a>
                </footer>
            </div>
        </div>
    </div>
{% endblock context %}