{% extends "layer/base.html" %}
{% load static %}
{% block title %}Добавляем записку!{% endblock title %}
{% block cssconnect %}
<link rel="stylesheet" href="{% static "articles/css/style.css" %}">
<script src="{% static "articles/ckeditor/ckeditor.js" %}"></script>
{% endblock cssconnect %}
{% block context %}
<div class="box">
  {{form.errors.non_field_errors}}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="select">
      {{form.category}}
    </div><button class="button" type="button" onclick="show_modal('#category-add');"><i class="far fa-plus-square"></i></button>
    <div class="mt-form field">
      <p class="control has-icons-left has-icons-right">
        {{form.title}}
      </p>
      <p class="control has-icons-left has-icons-right">
        {{form.title.errors}}
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        {{form.text}}
      </p>
    </div>
    {% if 'edit' in request.path %}
      <div class="file">
        <button type="button" class="button is-info" onclick="show_modal('#flits');">Посмотреть загруженые файлы.</button>
      </div>
    {% endif %}
    <div class="mt-form columns">
      <div class="column is-2 message">
        <div class="message-header">
          <p>Опубликовать</p>
        </div>
        <div class="message-body">
          <div class="check">
            {{form.is_published}}
            <label for="id_is_published"></label>
          </div>
        </div>
      </div>
      <div class="ml-msg column is-5 message is-info">
        <div class="message-header">
          <p>По вопросу картинок для записки</p>
        </div>
        <div class="message-body">
          Сначала сохраняем статью.
          При необходимости добавить картинки - переходим в редактирование и
          выбираем/загружаем картики к статье!
          Добавляем пути в выборе файла!
          Вот такие заморочки :D
        </div>
      </div>
    </div>
    <button type="submit" class="button is-primary">Сохранить</button>
  </form>
</div>
<div class="modal" {% if messages %}style='display:block;'{% endif %} id="msg">
<div class="modal-background"></div>
<div class=" mt-modal modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Сохранение записи</p>
  </header>
  <section class="modal-card-body">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </section>
  <footer class="modal-card-foot">
    <button class="button" onclick="hide_modal('#msg');">Закрыть</button>
  </footer>
</div>
</div>
{# Модалка для для добавления категории#}
<div id="category-add" class="modal">
<div class="modal-background"></div>
<div class=" mt-modal modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Добавление категории</p>
  </header>
  <section class="modal-card-body">
    <div id="cat-msg"></div>
    <form id="category-add-form" data-url="{% url 'articles:category_add' %}">
      <div class="mt-form field">
        <p class="control has-icons-left has-icons-right">
          <input type="text" name="name" class="input" placeholder="Наименование категории">
        </p>
        <p class="control has-icons-left has-icons-right">
          <textarea class="textarea" name="description" cols="30" rows="10" placeholder="Описание категории"></textarea>
        </p>
      </div>
    </form>
    <button id="save" class="mt-form button is-primary">Добавить</button>
  </section>
  <footer class="modal-card-foot">
    <button class="button" onclick="hide_modal('#category-add');">Закрыть</button>
  </footer>
</div>
</div>
{# Модалка для показа путей изображений для статьи #}
{% if 'edit' in request.path %}
{% include "articles/modal_edit.html" %}
{% endif %}
{% endblock context %}
{% block jsconnect %}
<script src="{% static "articles/js/initckedit.js" %}"></script>
<script src="{% static "articles/js/article.js" %}"></script>
{% endblock jsconnect %}