{% extends "layer/base.html" %}
{% load static %}
{% block title %}Добавляем записку!{% endblock title %}
{% block cssconnect %}
<link rel="stylesheet" href="{% static "articles/css/style.css" %}">
<script src="{% static "articles/ckeditor/ckeditor.js" %}"></script>
{% endblock cssconnect %}
{% block context %}
<div class="box">
  {{form.errors.non_field_errors}}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="select">
      {{form.category}}
    </div><button class="button" type="button"><i class="far fa-plus-square"></i></button>
    <div class="mt-form field">
      <p class="control has-icons-left has-icons-right">
        {{form.title}}
      </p>
      <p class="control has-icons-left has-icons-right">
        {{form.title.errors}}
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        {{form.text}}
      </p>
    </div>
    {% if 'add' in request.path %}
      <div class="file">
        <label class="file-label">
          {{form.image}}
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Выбери картинки…
            </span>
          </span>
        </label>
        {{form.image.errors}}
      </div>
      <ul id="flits">
          <li><b>Список файлов к статье:</b></li>
        </ul>
    {% endif %}
    <div class="mt-form field columns is-3">
      <div class="message">
        <div class="message-header">
          <p>Опубликовать</p>
        </div>
        <div class="message-body">
          <div class="check">
            {{form.is_published}}
            <label for="id_is_published"></label>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="button is-primary">Сохранить</button>
  </form>
</div>
<div class="modal" {% if messages %}style='display:block;'{% endif %} id="msg">
<div class="modal-background"></div>
<div class=" mt-modal modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Сохранение записи</p>
    <button class="delete" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </section>
  <footer class="modal-card-foot">
    <button class="button" onclick="hide_modal('#msg');">Закрыть</button>
  </footer>
</div>
</div>
{% endblock context %}
{% block jsconnect %}
<!--<script src="{% static "articles/js/article.js" %}"></script>-->
<script>
    // Don't forget to add CSS for your custom styles.
    CKEDITOR.addCss( 'figure[class*=easyimage-gradient]::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }' +
      'figure[class*=easyimage-gradient] figcaption { position: relative; z-index: 2; }' +
      '.easyimage-gradient-1::before { background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 66, 174, 234, .72 ) 100% ); }' +
      '.easyimage-gradient-2::before { background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 228, 66, 234, .72 ) 100% ); }' );

    CKEDITOR.replace( 'id_text', {
      extraPlugins: 'easyimage',
      removePlugins: 'image',
      removeDialogTabs: 'link:advanced',
      toolbar: [
        { name: 'document', items: [ 'Undo', 'Redo' ] },
        { name: 'styles', items: [ 'Format' ] },
        { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
        { name: 'links', items: [ 'Link', 'Unlink' ] },
        { name: 'insert', items: [ 'EasyImageUpload' ] }
      ],
      height: 630,
      cloudServices_uploadUrl: 'https://33333.cke-cs.com/easyimage/upload/',
      // Note: this is a token endpoint to be used for CKEditor 4 samples only. Images uploaded using this token may be deleted automatically at any moment.
      // To create your own token URL please visit https://ckeditor.com/ckeditor-cloud-services/.
      cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
      easyimage_styles: {
        gradient1: {
          group: 'easyimage-gradients',
          attributes: {
            'class': 'easyimage-gradient-1'
          },
          label: 'Blue Gradient',
          icon: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/gradient1.png',
          iconHiDpi: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/hidpi/gradient1.png'
        },
        gradient2: {
          group: 'easyimage-gradients',
          attributes: {
            'class': 'easyimage-gradient-2'
          },
          label: 'Pink Gradient',
          icon: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/gradient2.png',
          iconHiDpi: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/hidpi/gradient2.png'
        },
        noGradient: {
          group: 'easyimage-gradients',
          attributes: {
            'class': 'easyimage-no-gradient'
          },
          label: 'No Gradient',
          icon: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/nogradient.png',
          iconHiDpi: 'https://sdk.ckeditor.com/https://sdk.ckeditor.com/samples/assets/easyimage/icons/hidpi/nogradient.png'
        }
      },
      easyimage_toolbar: [
        'EasyImageFull',
        'EasyImageSide',
        'EasyImageGradient1',
        'EasyImageGradient2',
        'EasyImageNoGradient',
        'EasyImageAlt'
      ]
    } );
  </script>
{% endblock jsconnect %}