{% extends "layer/base.html" %}
{% load static %}
{% block title %}Добавляем записку!{% endblock title %}
{% block cssconnect %}
<link rel="stylesheet" href="{% static "articles/css/style.css" %}">
<script src="{% static "articles/ckeditor/ckeditor.js" %}"></script>
{% endblock cssconnect %}
{% block context %}
<div class="box">
  {{form.errors.non_field_errors}}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="select">
      {{form.category}}
    </div><button class="button" type="button"><i class="far fa-plus-square"></i></button>
    <div class="mt-form field">
      <p class="control has-icons-left has-icons-right">
        {{form.title}}
      </p>
      <p class="control has-icons-left has-icons-right">
        {{form.title.errors}}
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        {{form.text}}
      </p>
    </div>
    {% if 'edit' in request.path %}
      <div class="file">
        <button type="button" class="button is-info" onclick="show_modal('#flits');">Посмотреть загруженые файлы.</button>
      </div>
    {% endif %}
    <div class="mt-form columns">
      <div class="column is-2 message">
        <div class="message-header">
          <p>Опубликовать</p>
        </div>
        <div class="message-body">
          <div class="check">
            {{form.is_published}}
            <label for="id_is_published"></label>
          </div>
        </div>
      </div>
      <div class="ml-msg column is-5 message is-info">
        <div class="message-header">
          <p>По вопросу картинок для записки</p>
        </div>
        <div class="message-body">
          Сначала сохраняем статью.
          При необходимости добавить картинки - переходим в редактирование и
          выбираем/загружаем картики к статье!
          Добавляем пути в выборе файла!
          Вот такие заморочки :D
        </div>
      </div>
    </div>
    <button type="submit" class="button is-primary">Сохранить</button>
  </form>
</div>
<div class="modal" {% if messages %}style='display:block;'{% endif %} id="msg">
<div class="modal-background"></div>
<div class=" mt-modal modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Сохранение записи</p>
    <button class="delete" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </section>
  <footer class="modal-card-foot">
    <button class="button" onclick="hide_modal('#msg');">Закрыть</button>
  </footer>
</div>
</div>
{# Модалка для показа путей изображений для статьи #}
{% if 'edit' in request.path %}
<div id="flits" class="modal">
  <div class="modal-background"></div>
  <div class="mt-modal modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Сохранение записи</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {% for img in images %}
        <div class="box {% if img.is_title %}is-title{% endif %}">
        <article class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{img.image.url}}" alt="Картинки нет!">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                {{img.image.url}}
                <form action="{% url 'article_img_del' img.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="article" value="{{article.pk}}">
                  <button class="button"></button>
                </form>
              </p>
            </div>
          </div>
        </article>
      </div>
      {% empty %}
      <div class="message is-info">
        <div class="message-body">
          Изображений нет!
        </div>
      </div>
    {% endfor %}
  </section>
  <footer class="modal-card-foot">
    <a href="{% url 'article_image' article.pk %}" class="button">Загрузить картинку</a>
    <button class="button" onclick="hide_modal('#flits');">Закрыть</button>
    <span>Выделенное отображается на карточке!</span>
  </footer>
</div>
{% endif %}
{% endblock context %}
{% block jsconnect %}
<script src="{% static "articles/js/initckedit.js" %}"></script>
{% endblock jsconnect %}