{% extends "layer/base.html" %}
{% load static %}
{% block title %}Добавляем записку!{% endblock title %}
{% block cssconnect %}
<link rel="stylesheet" href="{% static "articles/css/style.css" %}">
{% endblock cssconnect %}
{% block context %}
<div class="box">
  {{form.errors.non_field_errors}}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="file-label">
      {{form.image}}
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Выбери картинку…
        </span>
      </span>
    </label>
    <div id="flits"></div>
    <div class="mt-form field">
      <p class="control has-icons-left has-icons-right">
        Это титульная картинка?<br>
        {{form.is_title}}<label for="id_is_title"></label>
      </p>
    </div>
    <button type="submit" class="mt-form button is-primary">Сохранить</button>
  </form>
</div>
{% endblock context %}
{% block jsconnect %}
<script src="{% static "articles/js/article.js" %}"></script>
{% endblock jsconnect %}