{% extends "layer/base.html" %}
{% load article_tag %}
{% block context %}
    <h1 class="title has-text-centered">Записи в категории "{{category}}".</h1>
    <p class="has-text-centered">
        <a href="{% url 'categories' %}"><strong>Посмотреть все категории записей</strong></a>
    </p>
    <div class="columns is-multiline is-centered has-text-centered">
        {% for article in articles %}
            <div class="column is-3 article-item card">
                <a href="{% url 'article_item' article.pk %}">
                    <div class="card-image">
                        <figure class="image is-3by3">
                            <img src="{% get_thumbnail article %}" alt="Картинки нет!">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <h4 class="is-4 has-text-centered">
                                {{ article.title }}
                                </h4>
                                {% if not article.is_published %}
                                    <div class="message is-warning">
                                        <div class="message-body">
                                            Не опубликована!
                                        </div>
                                    </div>
                                {% endif %}
                                <p class="subtitle is-6">
                                    <strong><i class="far fa-bookmark"></i> {{article.category}}</strong>
                                </p>
                                <p class="subtitle is-6">
                                    <strong><i class="fas fa-calendar-alt"></i> <time>{{ article.created | date:'d F Y' }}</time></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="columns">
        {% if is_paginated %}
            <nav class="column pagination is-rounded">
                <ul class="pagination-list pag-ul">
                    {% if page_obj.has_previous %}
                        <li class="pagination-link">
                            <a href="?page={{ page_obj.previous_page_number }}">Обратно</a>
                        </li>
                    {% endif %}
                    <li><a class="pagination-link is-current">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="pagination-link">
                            <a href="?page={{ page_obj.next_page_number }}">Туда</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock context %}