{% extends "layer/base.html" %}
{% block title %}Много букАв тут...{% endblock title %}
{% block context %}
    <h1 class="title has-text-centered">Категории "Записок о всяком"!</h1>
    <div class="columns is-multiline is-centered">
        {% for categry in categories %}
            <a class="column is-3 article-item" href="{% url 'categories_items' categry.pk %}">
                <h2  class="has-text-centered">{{ categry.name }}</h2>
                <div class="">
                    {{ categry.description }}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="columns">
        {% if is_paginated %}
            <nav class="column pagination is-rounded">
                <ul class="pagination-list pag-ul">
                    {% if page_obj.has_previous %}
                        <li class="pagination-link">
                            <a href="?page={{ page_obj.previous_page_number }}">Обратно</a>
                        </li>
                    {% endif %}
                    <li><a class="pagination-link is-current">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="pagination-link">
                            <a href="?page={{ page_obj.next_page_number }}">Туда</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock context %}