{% extends "layer/base.html" %}
{% block title %}Записка об {{ article.title }}{% endblock title %}
{% block context %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <a onclick="show_modal();">
          <img src="{{article.get_thumbnail}}" alt="Image">
        </a>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
            <strong>{{ article.title }}.</strong><small>Записка от: {{ article.created | date:'F Y' }}</small>
          <br>
          {{ article.text }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" href="{% url 'all_articles' %}">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="{{article.get_image}}" alt="">
    </p>
  </div>
  <button class="modal-close is-large" onclick="hide_modal(this);"></button>
</div>
{% endblock context %}