{% extends "layer/base.html" %}
{% load static %}
{% block title %}Записка об {{ article.title }}{% endblock title %}
{% block cssconnect %}
<link rel="stylesheet" href="{% static "articles/css/style.css" %}">
{% endblock cssconnect %}
{% block context %}
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column has-text-centered">
              <strong class="title">{{ article.title }}.</strong>
              <br>
              <small>Записка от: <strong>{{ article.created | date:'d F Y' }}</strong></small>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              {{ article.text | safe}}
            </div>
          </div>
        </div>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" href="{% url 'articles:categories' %}">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        {% if user.is_superuser %}
        <div class="level-left">
            <a class="level-item" href="{% url 'articles:article_edit' article.pk %}">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </a>
          </div>
          <div class="level-left">
            <a class="level-item" href="{% url 'articles:article_del' article.pk %}">
              <span class="icon is-small">
                <i class="fas fa-trash" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        {% endif %}
      </nav>
    </div>
  </article>
</div>
<div id="image-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="gallery gallery-1">
      <div class="photo">
        {% for image in article.articleimage_set.all %}
          <img {% if forloop.first %}class="shown"{% endif %} src="{{image.image.url}}" alt="">
        {% endfor %}
      </div>
      <div class="tabs">
        <button class="prev"><i class="fas fa-angle-left"></i></button>
        <button class="next"><i class="fas fa-angle-right"></i></button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" onclick="hide_modal('#image-modal');"></button>
</div>
{% endblock context %}
