<div id="flits" class="modal">
  <div class="modal-background"></div>
  <div class="mt-modal modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Сохранение записи</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {% for img in images %}
        <div class="box {% if img.is_title %}is-title{% endif %}">
        <article class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{img.get_image}}" alt="Картинки нет!">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                {{img.get_image}}
                <form action="{% url 'article_img_del' img.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="article" value="{{article.pk}}">
                  <button class="ml-3 button"><i class="fas fa-trash"></i></button>
                </form>
              </p>
            </div>
          </div>
        </article>
      </div>
      {% empty %}
      <div class="message is-info">
        <div class="message-body">
          Изображений нет!
        </div>
      </div>
    {% endfor %}
  </section>
  <footer class="modal-card-foot">
    <a href="{% url 'article_image' article.pk %}" class="button">Загрузить картинку</a>
    <button class="button" onclick="hide_modal('#flits');">Закрыть</button>
    <span>Выделенное отображается на карточке!</span>
  </footer>
</div>
</div>