<aside class="menu">
  <p class="menu-label">
    Мощное меню сайта
  </p>
  <ul class="main-menu">
    {% for menu in menus %}
      <li><a class="menu-btn {% if menu.style %}{{menu.style}}{% endif %}" href="{% url menu.url %}">{{menu.title}}</a></li>
    {% endfor %}
  </ul>
  <p class="menu-label">
    Чекинешная
  </p>
  <ul class="menu-list">
    {% if user.is_authenticated %}
      <li><a>Бро {{user.username}}</a></li>
      <li><a href="/logout">Давай, бро!</a></li>
    {% else %}
      <li><a href="/login">Заходи, бро!</a></li>
      <li><a href="/register">Стать бро!</a></li>
    {% endif %}
  </ul>
  {% if user.is_staff %}
    <p class="menu-label">
      Админские штучки
    </p>
    <ul class="menu-list">
      <li><a href="/admin">Только я могу!</a></li>
    </ul>
  {% endif %}
</aside>