<aside class="menu">
  <p class="menu-label">
    Мощное меню сайта
  </p>
  <ul class="main-menu">
    {% for menu in menus %}
      <li><a class="menu-btn {% if menu.style %}{{menu.style}}{% endif %}" href="{% url menu.url %}">{{menu.title}}</a></li>
    {% endfor %}
  </ul>
  <p class="menu-label">
    Чекинешная
  </p>
  {% if user.is_authenticated %}
    <a href="{% url 'edit' %}">
      <div class="card bro-card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{user.get_avatar}}" alt="Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Бро</p>
              <p class="subtitle is-6">{{user.username}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <ul class="menu-list">
      <li><a href="{% url 'logout' %}">Давай, бро!</a></li>
    </ul>
  {% else %}
    <ul class="menu-list">
      <li><a href="{% url 'login' %}">Заходи, бро!</a></li>
      <li><a href="{% url 'register' %}">Стать бро!</a></li>
    </ul>
  {% endif %}
  
  {% if user.is_staff %}
    <p class="menu-label">
      Админские штучки
    </p>
    <ul class="menu-list">
      <li><a href="{% url 'article_add' %}">Создать записку</a></li>
      {% if user.is_superuser %}
        <li><a href="/admin">Только я могу!</a></li>
      {% endif %}
    </ul>
  {% endif %}
</aside>