html, body {
    height: 100%;
}
.container{
    margin-top: 50px;
}
.content{
    display: flex;
}
.errorlist{
    margin: 0 auto !important;
    padding: 0;
}
.errorlist li {
    list-style-type: none;
    color: #ff3860;
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}
.pag-ul{
    justify-content: center;
}
.pag-ul li{
    list-style-type: none;
}
.form-auth{
    margin:10px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.level{
    padding: 10px 15px;
}
.border-b{
    border-bottom: 2px solid #cecece;
}
.article-item{
  display: block;
  margin:10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #5e5b5b;
  position: relative;
}
.article-item:hover{
    border-color: #47b11d;
    box-shadow: 3px 1px 2px 3px #47b11d;
    color: #000000;
}
.article-item a {display: block;}
.article-item h2{
    font-size: 1.4em;
}
.learn-more {display: block; position: absolute; bottom: 10px; color: #3273dc;}
.learn-more :hover{color: #000;}
.content small {display: inline-block; margin-left: 10px;}
.modal-content{margin-top: 100px;}

.main-menu{
    line-height: 1.25;
}
.main-menu li{
    list-style-type: none;
    position: relative;
}
.menu-active{
    color: #bd0000!important;
}
.menu-btn {
    padding: .5em .75em;
    border-radius: 5px;
    color: #4a4a4a;
    display: block;
    transition: all 300ms ease;
}
.menu-btn:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: #4A90E2;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
.menu-btn:hover {
  color: white;
}
.menu-btn:hover:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #4A90E2!important;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.menu-btn:hover:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #4A90E2;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.mob-btn-wraper{
  display: none;
  position: absolute;
  z-index: 100;
}
.mob-btn{
  position: relative;
  float:left;
  height: 70px;
  width: 70px;
  margin: 0 30px 30px 0;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.mob-btn:after{
  color:#e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}
.tick:after{
  content: "☰";
  left: 12px;
  font-size: 3.2em;
}
.mob-btn:hover{
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#0088cc;
}
.tick:hover:after{
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}
.mob-btn:active{
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
.mob-btn:active:after{
  color:#dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
@media (max-width: 1200px) {
    #main-menu{display: none;}
    .mob-btn-wraper{display: block;}

}